.box {
    display: inline-flex;
    width: 50px;
    height: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    padding: 10px;
}