body {
    height: 5000px;
}

.box {
    display: inline-flex;
    width: 50px;
    height: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    padding: 10px;
}

.up {
    height: 50px;
    width: 50px;
    background-color: lightgoldenrodyellow;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up:hover {
    cursor: pointer;
    background-color: rgb(106, 106, 83);
}