.box {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #808080;
}

.boxHover {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: lightseagreen;
}

.boxContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 80%;
    margin: 20px auto;
    gap: 10px;
}

.superBox {
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: grey;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    background: linear-gradient(90deg,rgba(11, 143, 224, 1) 0%, rgba(237, 221, 83, 1) 100%);
    opacity: 50%;
}